@import '../styles/variables';

.title-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-family: "Merriweather", serif;
  margin-bottom: 2rem;
}

.about-section {
  padding: 4rem 2rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap; // para que sea responsive automáticamente
}

.about-image img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-sections {
  font-family: "Delius", cursive;
  font-size: 20px;
  line-height: 1.6;
  max-width: 600px;
  text-align: justify;
  padding: 0 1rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .text-sections {
    text-align: left;
    padding: 0 1rem;
  }
}
