@import '../styles/variables';

.title-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: "Merriweather", serif;
  margin-top: 0;
}

.about-section {
  display: block !important;
  background-color: transparent;
  margin-bottom: 0;
  scroll-margin-top: 110px;
  padding-top: 10rem;
  overflow: visible;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
}

.about-image img {
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-sections {
  font-family: "Delius", cursive;
  font-size: 15px;
  line-height: 1.5;
  max-width: 670px;
  text-align: justify;
  padding: 0 1rem;
}

.title-sections-2 {
  text-align: center;
  font-size: 40px;
  font-family: "Merriweather", serif;
  margin-bottom: 1.5rem;
  color: black;
}

.text-sections-2 {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Delius", cursive;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  padding: 0 1.5rem;
}

.tech-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0 1rem;

  img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
    margin-top: 25px;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .text-sections {
    text-align: left;
    padding: 0 1rem;
  }

  .title-sections-2 {
    font-size: 2rem;
  }

  .text-sections-2 {
    font-size: 16px;
    padding: 0 1rem;
  }

  .tech-logos img {
    height: auto;
    object-fit: contain;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    max-width: 80px;
    margin: 0.5rem;
  }

  .tech-logos img {
    max-width: 240px;
    margin: 0.5rem;
  }
}