@import '../styles/variables';

.footer {
    text-align: center;
    padding-bottom: 30px;
}

.footer-separator {
    border-top: 2px solid black;
    margin-top: 50px;
    width: 100%;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
        color: black;
        font-size: 2rem;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.logo-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.logo-blanco {
    width: 100px;
    height: auto;
}

/* MEDIA QUERIES para responsive */
@media (max-width: 768px) {
    .social-icons {
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .title-sections {
        font-size: 30px;
    }

    .logo-blanco {
        width: 80px;
        margin-top: 10px;
    }

    .footer {
        padding: 20px 10px;
    }
}