@import '../styles/variables';

.footer {
    text-align: center;
    padding: 20px 0px;
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer-section {
    padding: 0;
    margin: 0;
}


.footer-separator {
    border-top: 2px solid black;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 100%;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 auto 10px auto;

    a {
        color: black;
        font-size: 1.5rem;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.logo-container {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo-blanco {
    width: 70px;
    height: auto;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px 5px;
    }

    .footer-separator {
        width: 90%;
        margin-bottom: 10px;
    }

    .social-icons {
        gap: 12px;
    }

    .logo-blanco {
        width: 60px;
    }

    .title-sections {
        padding-bottom: 20px;
    }

    .text-sections {
        font-size: 10px;
    }
}