@import '../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;

  h1 {
    font-size: 1.8rem;
    color: $color-text;
  }
}

.ul-list {
  list-style-type: none;
  display: flex;
  font-size: 30px;
  gap: 1.5rem; // separación entre enlaces
}

nav {
  display: flex;
  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.separated {
  color: white;
}

.links {
  color: white;
}

.logo {
  width: 150px;
  height: auto;
}