@import '../styles/variables';

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;

  .logo {
    width: 60px;
    height: auto;
    margin-right: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    color: $color-text;
  }
}