@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$color-bg;
  color: variables.$color-text;
  font-family: variables.$font-main;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  padding-top: 48px; // altura del header
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: auto;
  scroll-snap-align: start;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  scroll-snap-align: start;
  scroll-margin-top: 100px;
  padding-bottom: 6rem;
}

section[id] {
  scroll-snap-align: start;
  scroll-margin-top: 100px;
}


section.footer-section {
  height: auto !important;
  padding: 2rem 1rem;
}

img {
  border: none;
  box-shadow: none;
}


@media (max-width: 768px) {
  section {
    height: auto;
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }

  main {
    padding-top: 56px;
  }
}