@import './variables';
@import './mixins';
@import './Header.scss';

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

section {
  padding: 2rem;
}

.nav {
  background-color: cadetblue;
}

